  <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>


<h1>Welcome, here are <%= @user.username %>'s Exercise Classess:</h1>

<p><% @user.exercises.each do |exercise| %>
     <a href="/exercises/<%= exercise.id %>"><%= exercise.content %> </a><br>
    <% end %> </p>

      <br>

      <p> <a href="/exercises/new">Create a New Exercise Class</a></p>
        <p><a href="/exercises">Home</a></p>