<h2>The following class was deleted:</h2>

  <p>"<%= @exercise.content %>"</p>

<a href="/exercises/new">Create a Class</a></p>
<p><a href="/logout">Logout</a></p>
<p><a href="/exercises">Home</a></p>
